@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 203 38% 95%;
    --foreground: 220 25% 25%;
    --card: 0 0% 100%;
    --card-foreground: 220 25% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 25% 25%;
    --primary: 211 51% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 38% 76%;
    --secondary-foreground: 223 68% 15%;
    --muted: 203 38% 88%;
    --muted-foreground: 220 25% 45%;
    --accent: 223 68% 34%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 203 38% 85%;
    --input: 203 38% 90%;
    --ring: 211 51% 42%;
    --chart-1: 211 51% 42%;
    --chart-2: 223 68% 34%;
    --chart-3: 203 38% 76%;
    --chart-4: 211 51% 62%;
    --chart-5: 223 68% 54%;
    --radius: 0.5rem;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 211 51% 52%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 222 47% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 47% 15%;
    --sidebar-ring: 211 51% 52%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 211 51% 52%;
    --primary-foreground: 222 47% 11%;
    --secondary: 223 68% 34%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 18%;
    --muted-foreground: 210 40% 80%;
    --accent: 211 51% 62%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 47% 20%;
    --input: 222 47% 20%;
    --ring: 211 51% 52%;
    --chart-1: 211 51% 52%;
    --chart-2: 223 68% 44%;
    --chart-3: 203 38% 66%;
    --chart-4: 211 51% 72%;
    --chart-5: 223 68% 64%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 211 51% 52%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 222 47% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 47% 15%;
    --sidebar-ring: 211 51% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
